<%= form_with(model: paciente, local: true) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Pessoa_id %>
    <%= form.text_field :Pessoa_id %>
  </div>

  <div class="field">
    <%= form.label :medico_resp %>
    <%= form.text_field :medico_resp %>
  </div>

  <div class="field">
    <%= form.label :cuidador %>
    <%= form.text_field :cuidador %>
  </div>

  <div class="field">
    <%= form.label :grau_esco_cuidador %>
    <%= form.text_field :grau_esco_cuidador %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
