<h1>Welcome!</h1>

<ul>
    <li><%= link_to "Pessoas", pessoas_path %></li>
    <li><%= link_to "Funcionários", funcionarios_path %></li>
    <li><%= link_to "Pacientes", pacientes_path %></li>
    <li><%= link_to "Endereços", enderecos_path %></li>
    <li><%= link_to "Telefones", telefones_path %></li>
    

</ul>
