<%= form_with(model: funcionario, local: true) do |form| %>
  <% if funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Pessoa_id %>
    <%= form.text_field :Pessoa_id %>
  </div>

  <div class="field">
    <%= form.label :num_crefito %>
    <%= form.number_field :num_crefito %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
